.MMM-MyStandings .standings {
	border-collapse: collapse;
	font-size: 20px;
	line-height: 30px;
}

.MMM-MyStandings .logo {
	width: 24px;
	height: 24px;
}

.MMM-MyStandings .league-separator {
	font-size: 15.5px;
	line-height: 18px;
	text-transform: uppercase;
	margin-top: 10px;
	border-bottom: solid 1px #222;
	text-align: left;
	padding: 0;
}

.MMM-MyStandings .league-separator > td >span {
	color: #000;
	font-weight: bold;
	padding-left: 6px;
	padding-right: 2px;
	background-color: #FFF;
	display: inline-block;
	vertical-align: top;
	position: relative;
	white-space: nowrap;
}

.MMM-MyStandings .league-separator > td > span:after {
	content: "";
	width: 0;
	height: 0;
	display: inline-block;
	vertical-align: top;
	border-style: solid;
	border-width: 18px 0 0 15px;
	border-color: transparent transparent transparent #FFF;
	margin-right: -15px;
	position: relative;
	right: -2px;
}