{% if standings %}
	<table class="standings">
		{% for division in standings %}
			{% if division != null %}
			{% if config.showByDivision === false or (config.showByDivision and currentDivision === division.name) or ignoreDivision === true %}
				<tr class="league-separator">
					<td colspan="2"><span>{% if division.shortName !== undefined %}{{division.shortName}}{% else %}{{division.name}}{% endif %}</span></td>
				{% if currentSport === "NHL" %}
					<td>W</td><td>L</td><td>OTL</td><td class="bold">PTS</td>
				{% elseif currentSport === "MLB" %}
					<td>W</td><td>L</td><td>GB</td>
				{% elseif currentSport === "NBA" %}
					<td>W</td><td>L</td><td>GB</td>
				{% elseif currentSport === "NFL" %}
					<td>W</td><td>L</td><td>T</td>
				{% elseif currentSport === "MLS" %}
					<td>W</td><td>T</td><td>L</td><td class="bold">PTS</td>
				{% elseif currentSport === "NCAAF" %}
					<td>Conf</td><td>Overall</td>
				{% elseif currentSport === "NCAAM" %}
					<td>Conf</td><td>Overall</td>
				{% else %}
					<td>W</td><td>T</td><td>L</td><td class="bold">PTS</td>
				{% endif %}
				</tr>
				{% for tm in division.standings.entries %}
					<tr>
						{% if config.showLogos === true %}
							<td class="logo"><img src="{{tm.team.logos[0].href}}" class="logo"/></td>
						{% else %}
							<td></td>
						{% endif %}
						{% if config.nameStyle === "short" %}
							<td>{{tm.team.shortDisplayName}}</td>
						{% elseif config.nameStyle === "full" %}
							<td>{{tm.team.displayName}}</td>
						{% elseif config.nameStyle === "abbreviation" %}
							<td>{{tm.team.abbreviation}}</td>
						{% endif %}
						{% for stat in tm.stats %}
							{% if stat.name === "points" %}
								<td class="bold">{{stat.value}}</td>
							{% else %}
								<td>{{stat.value}}</td>
							{% endif %}
						{% endfor %}
					</tr>
				{% endfor %}
			{% endif %}
			{% endif %}
		{% endfor %}
	</table>
{% else %}
	<div class="dimmed light small">
		{{ "LOADING" | translate | safe }}
	</div>
{% endif %}
